<form action="" method="post">
    <label for="username">Username Or Email
        <input type="text" name="uid" id="">
    </label>

  
    <label for="username">password
        <input type="text" name="username" id="">
    </label>

    <button type="submit"> Register</button>
</form>